// Utilities
@import 'innerBreakpoint';

@mixin inner($default: help, $args...) {
  $padding: nth($default, 1);
  $maxWidth: nth($default, 2);

  // Initial Styling
  margin-left: auto;
  margin-right: auto;

  // If Padding (1st param in {$default} argument), is not null
  @if $padding != null {
    padding-left: $padding;
    padding-right: $padding;
  }

  // If MaxWidth (2nd param in {$default} argument), is not null
  @if length($default) == 2 {
    $maxWidth: nth($default, 2);

    @if $maxWidth != null {
      max-width: $maxWidth;
    }
  }
  
  // Repeating for each argument
  @each $arg in $args {
    @include innerBreakpoint($arg);
  }

  // Help / Documentation
  @if $default == help {
    @warn "
      @params(
        $padding $maxWidth,
        $padding $breakpoint $maxWidth,
        $padding $breakpoint $maxWidth,
        $padding $breakpoint $maxWidth)

      @usage
        @include inner(10px 900px, 20px 768px);
        @include inner(null 900px, 20px 768px);
        @include inner(15px 400px, 20px 768px 600px, 20px 1024px 900px, 20px 1440px 1200px);
    "
  }
}