// Depending on a max-width variable.
//
// @include inner;
//  or
// @include inner(20px);
//  or
// @include inner(5px, 10px, 20px, 20px);
//
// Breakpoints naming
// No max width, $large, $medium, $small
//

@mixin inner(
  $padding: 20px,
  $padding-large: null,
  $padding-medium: null,
  $padding-small: null) {

  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  @if $padding > 0 or
  $padding-large > 0 or
  $padding-medium > 0 or
  $padding-small > 0 {
    padding-left: $padding;
    padding-right: $padding;

    @if $padding-large != null {
      @include media($large down) {
        padding-left: $padding-large;
        padding-right: $padding-large;
      }
    }

    @if $padding-medium != null {
      @include media($medium down) {
        padding-left: $padding-medium;
        padding-right: $padding-medium;
      }
    }

    @if $padding-small != null {
      @include media($small down) {
        padding-left: $padding-small;
        padding-right: $padding-small;
      }
    }
  }
}
