/// Converting table into inline-block
// Author: Mads Thines

// table {
//   @include tableFix;
// }

@mixin tableFix {
  display: inline-block;
  thead {
    display: inline-block;
    tr {
      display: inline-block;
      th {
        display: inline-block;
      }
    }
  }

  tbody {
    display: inline-block;
    tr {
      display: inline-block;
      td {
        display: inline-block;
      }
    }
  }
}

@mixin tableFix-block {
  display: block;
  thead {
    display: block;
    tr {
      @include dyncol-float(0px);
      display: block;

      th {
        display: block;
      }
    }
  }

  tbody {
    display: block;
    tr {
      @include dyncol-float(0px);
      display: block;

      td {
        display: block;
      }
    }
  }
}
